<a href="https://colab.research.google.com/github/clustering-jun/GNU-Computer_Programming/blob/main/L11_%EB%B0%98%EB%B3%B5%EA%B5%AC%EC%A1%B0%EB%A1%9C_%EB%AC%B8%EC%A0%9C%ED%95%B4%EA%B2%B0%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# L11. 반복 구조로 문제 해결하기

## 01. for문 - 횟수 제어를 이용한 반복

### (1) 횟수 제어 반복
- 반복 횟수를 미리 아는 경우에 사용
- 이때 주로 사용하는 반복문이 for 루프

<br>

### (2) range( ) 함수란
- range( )는 정수를 생성해주는 함수
- 예를 들어, range(5)를 실행하면 0, 1, 2, 3, 4 총 5개의 정수가 순서대로 생성.
 - 시작값 기본은 0, 종료값은 지정한 수보다 1 작은 값까지 생성됨

<br>

### (3) for문의 기본 구조
```
for 변수 in range(횟수):
    실행할 문장
```
- range(5) → 0, 1, 2, 3, 4 순으로 값을 생성
- 각 값이 차례대로 변수에 할당되면서, 반복문 내의 문장을 실행함

<br>

### (4) in 연산자의 역할
- `in`은 값이 존재하는지를 확인하는 연산자
- `for i in range(5)`는 `range(5)`가 생성한 값 중 다음 값이 존재하는지를 확인하며 반복을 제어
- 값이 더 이상 없으면 반복을 종료하고 다음 코드로 넘어감

<br>

### (5) for문 동작 절차 설명
```
for i in range(5):
    print(i)
```
- range(5) → [0, 1, 2, 3, 4] 생성됨
- 첫 번째 반복:
 - i = 0이 변수에 할당됨
 - print(i) 실행 → 0 출력

- 두 번째 반복:
 - i = 1 할당
 - print(i) 실행 → 1 출력

- 이 과정을 반복하여 i = 4까지 실행됨
- 다음 반복에서 더 이상 값이 없으므로 반복 종료
- 반복문 아래의 다음 코드로 흐름이 이동함

<br>

### (6) 정리 요약
- for문은 정해진 횟수만큼 반복할 때 사용
- range()는 반복에 필요한 정수 목록을 생성
- in은 값의 존재를 판단하여 반복을 계속할지 종료할지 결정
- for문은 변수에 값이 존재할 때마다 반복하고, 값이 없으면 종료

<br>

---

<br>

## for문 연습하기

In [ ]:
print('방문을 환영합니다.')
print('방문을 환영합니다.')
print('방문을 환영합니다.')
print('방문을 환영합니다.')
print('방문을 환영합니다.')

방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.

In [ ]:
for i in range(5):
  print('방문을 환영합니다.')

방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.

In [ ]:
for i in range(100):
  print('123')

for i in range(0,11):
  print(i)

  # 공통점
  # i 는 제어변수임. 역할: 반복할지 말지를 i가 결정한다. i가 값이 있어야 실행하기 때문
  # 차이점
  # 밑의 코드는 제어하면서도 데이터의 역할도 한다.


  # 실행하면 줄을 바꾸는 데 왜 바꿈?
# 프린트 함수가 그렇게 만들어져 있음요. print( 기폴트 변수가 \n으로 지정되어 있어서)

# 그럼 내가 마음대로 하고 싶다? 빈칸을 넣고 싶다. 할 수 있지

for i in range(10):
  print(i, end='')

  # 이렇게 하면 된드

for i in range(1,11):
  print(i, end=' ')
# 을 실행하면 줄바꿈한번 해주ㅅ고 싶네?

# print()랑 print(\n)랑 어떻게 다를까?????

# 1,3,5,7,9 만 출력하고 싶을때의 코드를 작성하시오. (10이하의홀수 출력하기, 단 range()함수만을 사용할 것)

# 가장 쉬운 방법
for i in range(1,10,2):
  print(i, end=' ')

#그러면 질문
for i in range(1,10):
  print(i) #하면 1부터 9까지만...... 그상태에서 홀수를 찍고 싶으면 어떻게함? if문 써서 검사할 수 있겠지 구현해보셈


for i in range(1,10):
  if i % 2 == 1:
    print(i)

123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
123
0
1
2
3
4
5
6
7
8
9
10
01234567891 2 3 4 5 6 7 8 9 10 1 3 5 7 9

# range문법으로 데이터만드는거 시험낼테니까 잘아아오셈

# range(1,2,-1)이런거 낼 수 있으니까. 공부하고

In [ ]:
# python in

TypeError: argument of type 'int' is not iterable

In [ ]:
for i in range(1,10):
  if i % 2 == 1:
    print(i)


# 역순으로 출력하기
for i in range(10,0,-1):
  print(i)

for i in range(10,0,1):
  으로 하면 어떻게 도니는지 생각해보고...



# 그럼 이제 코드를 줄일 수 있다. 이전에 반복문을 몰라서 못했던거 이제와서 간결하게 만들 수 있으니 한 번 해보고 `~~

# 오늘은 이까지 나감.

# range로 데이터 만든느거 시험문제 할 수 있음.
# 알아서 데이터 생성하는 거 공부해오셈요

1
3
5
7
9
10
9
8
7
6
5
4
3
2
1

<br>

## 02. range( ) 함수
- 정수를 생성해주는 함수
> range(5): 0, 1, 2, 3, 4, 5과 같이 5개의 정수를 생성함.

> range( start = 0, stop, step = 1 )
 - start와 step은 생략할 수 있음.
 - 생략할 경우 start는 0을 step은 1을 기본 값으로 갖는다.

In [ ]:
for i in range(1,6,1):
  print(i, end=' ')

1 2 3 4 5

In [ ]:
for i in range(10, 0, -1):
  print(i, end=' ')

10 9 8 7 6 5 4 3 2 1