<a href="https://colab.research.google.com/github/clustering-jun/GNU-Computer_Programming/blob/main/L18_%ED%8A%9C%ED%94%8C%EA%B3%BC_%EC%84%B8%ED%8A%B8%EC%97%90_%EB%8C%80%ED%95%9C_%EC%9D%B4%ED%95%B4_%EB%B0%8F_%ED%99%9C%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# L18. 튜플과 세트에 대한 이해 및 활용

## **Tuple**

- 변경할 수 없는 열거 데이터의 모음
- 값을 변경할 수 있는 리스트와 달리, 한 번 값이 정해지면 항목의 값을 변경할 수 없음.

<br>

### **튜플과 리스트 구분해서 사용하기 1**
- 리스트는 일반적으로 '동일한 종류의 자료들'로 이루어진 항목들을 저장하고 관리함.
- 리스트 내의 자료는 인덱스를 이용하여 접근할 수 있음.

<br>

- 튜플은 일반적으로 서로 다른 종류의 자료들로 이루어진 항목들을 저장하고 관리함.
- 튜플 속의 자료는 인덱스를 이용해서 접근할 수 있음.

<br>

- 튜플 속의 자료들을 풀어서 변수에 할당하여 사용할 수 있음. **(Unpacking)**

In [1]:
tu = ('jslee', 20, '진주시', '여')

In [2]:
print(type(tu))
print(len(tu))

<class 'tuple'>
4

In [3]:
tu[0] = 'park'

TypeError: 'tuple' object does not support item assignment

In [5]:
ll = list(tu)
type(ll)

list

### **튜플과 리스트 구분해서 사용하기 2**
- 튜플은 리스트와 같은 방식으로 각각의 항목을 쉼표 기호(,)로 구분함.
- 대괄호 기호 [ ] 가 아닌 **소괄호 기호 ( )**로 감싸거나, **아예 감싸지 않는 방법으로 선언**함.
- 어떤 방법으로 생성하더라도 튜플 선언 결과는 소괄호 기호로 감싸여 있음.


<br>
<br>

## **Set**
- 데이터의 **중복을 허용하지 않고 순서가 없는 데이터들**을 관리하기 위한 데이터 구조

In [10]:
s = {10, 30, 10, 10, 20}
s

{10, 20, 30}

In [13]:
s.add(15)
s

{10, 15, 20, 30, 50}

In [ ]:
s = set()
# 세트 빈 자료구조 만드는 방법 (이전 배운 자료 구조와 차이)
# 세트는 순서가 없다는 점이 차이점